<p [class.single]="stateSingle">Binding to a single CSS class</p>
<button type="button" (click)="handleClickButton()">Binding single class</button>
<hr>
<p [class]="stateMul1">Binding to multiple CSS classes with A space-delimited string of class names.</p>
<hr>
<p [class]="stateMul2">Binding to multiple CSS classes with An object with class names as the keys and truthy or falsy
    expressions as the values.</p>
<hr>
<p [class]="stateMul3">Binding to multiple CSS classes with An array of class names.</p>