.single{
    background-color: silver;
}
.mul1-class-1{
    background-color: lightblue;
}
.mul1-class-2{
    font-size: 16px;
}
.mul2a{
    color: blue;
}
.mul2c{
    text-decoration: underline;
}
.mul3a{
    font-weight: bold;
}
.mul3b{
    text-align: right;
}